name: Backend CI

on:
    push:
        branches: [main]

    pull_request:
        branches: [main]

jobs:
    backend-ci:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login ghcr.io
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{github.actor}}
                password: ${{secrets.GHCR_PAT}}

            - name: Prepare image tags
              id: prep
              run: |
                OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
                IMAGE_NAME="wuwa-backend"
                echo "TAGS=ghcr.io/$OWNER/$IMAGE_NAME:latest" >> $GITHUB_OUTPUT
            
            - name: Build and push image
              uses: docker/build-push-action@v6
              with:
                context: src/backend
                file: src/backend/Dockerfile
                push: true
                tags: ${{ steps.prep.outputs.TAGS }}