name: Build & Push Docker

on:
  push:
    tags:
      - 'my-wuwa-backend-v*'
      - 'my-wuwa-frontend-v*'

permissions:
  contents: read
  packages: write

jobs:
  build-backend:
    if: startsWith(github.ref, 'refs/tags/my-wuwa-backend-v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}-backend
          tags: |
            type=match,pattern=my-wuwa-backend-v(.*),group=1
            type=raw,value=latest

      - name: Build and push Backend
        uses: docker/build-push-action@v6
        with:
          context: src/backend
          file: src/backend/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  build-frontend:
    if: startsWith(github.ref, 'refs/tags/my-wuwa-frontend-v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}-frontend
          tags: |
            type=match,pattern=my-wuwa-frontend-v(.*),group=1
            type=raw,value=latest

      - name: Build and push Frontend
        uses: docker/build-push-action@v6
        with:
          context: src/frontend
          file: src/frontend/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}